
.MuiRating-icon{
  font-size: 25px;
  color: red;
}
.buttonEdit{
 background-color:blue !important;
  color:white !important;
  border-radius:10px !important;
  padding:0 20px !important;
  margin-left:10px !important
}

.buttonEdit:hover{
  background-color: #ed3434 !important;
  transition: 0.5s;
}
.basket{
  color:red
}
.basket:hover{
  color:  blue;
  transition: 0.5s;

}
a{
  text-decoration: none;
}
a:hover{
color: blue;
}
#root{
  font-family: 'Dancing Script', cursive;
}
.searchBar{
  width: 600px;

}
.MuiInputBase-root{
  border-radius: 100px !important;

}

.MuiPaper-root{
  padding: 7px;
}
.css-80r6qc-MuiListItem-root {
  padding: 0px !important;
  margin-top: 5px;
}
.MuiPagination-ul{
  margin-top: 20px !important;
}
.detailInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px dashed red;
  padding: 0 20px;
  margin-left: 10px;

}
.Si8ngleProductPage{
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.MuiDrawer-paper{
  width: 255px !important;
}
.styleappbar{
  background-color:#fff !important;
  color:#103B66;
  width:88%;
  width: calc(100% - 255px) !important;
  padding:0 100px 0 30px;
  display:flex
}
.categgory{
  font-size:40px
}
.CartI{
  width: 400px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between
}
.styleformbutton{
  margin-Top: 30px  !important;
  padding: 10px 0  !important;
  border-radius: 20px  !important;
  border: none;
  background-color: blue !important;
  color: white  !important;
  font-size: 20px  !important;
  letter-spacing: 5px  !important;
}
.formBox{
  width: 50%;
  display: flex;
  flex-direction: column;
  border: 2px solid #8989c7;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
}
.css-1160xiw-MuiPaper-root-MuiDrawer-paper{
  width: 300px !important;
}
.css-1ub4t4n{
  justify-content: center;
}
@media screen and (max-width: 1382px) {
  .Si8ngleProductPage{
    flex-direction: column;
    
  }
  .detailInfo{
    margin-top: 20px;
  }
  
}
@media screen and (max-width: 1382px) {
  .styleappbar{
    padding: 10px 0 !important;

  }
}
@media screen and (max-width:670px) {
  .css-18isbuf-MuiDrawer-docked{
    width: 0px;
  }
  .MuiDrawer-paper{
    width: 100px !important;
  }
  .styleappbar{
   
    width: calc(100% - 100px) !important;
    
  }
  .contnrs{
    margin-left:100px !important;

  }
  .categgory{
    font-size:25px;
    margin-top: 15px;
  }
  .formBox{
    width: 80% !important;
  }
  
}
@media screen and (max-width:400px) {
  .MuiDrawer-paper{
   display: none !important;

  }
  .contnrs{
    margin-left: 0px !important;
  }
  .styleappbar{
    width: 100% !important;
  }
  .CartI{
    width: 100% !important;

  }
 
}